alias nps="neuro ps --owner mvasilkovsky | less -S"
alias nf=neuro-flow
alias tmuxx="tmux new-session \; split-window -v \; split-window -h \; split-window -v \; select-pane -U \; select-pane -U \; split-window -h \; split-window -v\; new-window \; split-window -v \; split-window -h \; split-window -v \; select-pane -U \; select-pane -U \; split-window -h \; split-window -v \; new-window \; split-window -v \; split-window -h \; split-window -v \; select-pane -U \; select-pane -U \; split-window -h \; split-window -v ;\ attach"

alias show-aws-instances="aws ec2 describe-instances --filters Name=tag:project_support_alias,Values=mvasilkovsky --query \"Reservations[*].Instances[].[InstanceId, Tags[?Key=='Name'].Value | [0], State.Name, PublicIpAddress]\" --output text"

